
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(234, 241, 240);
    overflow-x: hidden;
}
.allcontant{
    overflow:hidden;
}
.bgcolor.scrolled{
    background-color: rgba(0, 0, 0, 0.692);
    transition: 1s;
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: auto; */
    padding: 20px 120px;
    z-index: 2000;
      
}
nav .logo a{
    
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
}
nav .log{
    color: #ffffff;
}
nav .logg{
    color: #31d493;
}

nav ul li{
    display: inline-block;
    padding-top: 15px;
    margin: 0px 10px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    /* font-weight:500; */
}
#navbar a.active{
    color: #31d493;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: #31d493;

}
nav .logo{
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav ul li .icon {
    display: none;
  }
  
 
#backtotop{
    width: 50px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.445);
    color: #ffffff;
    border-radius: 50px;
    position:fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
   display: none;
   border: none;
   z-index: 1;


}
#backtotop:hover{
    background-color: #31d493;
}
#backtotop:focus{
    outline: none;
}
/* ------------------------slideshow part---------- */


#home{
    height: 700px;
    width: 100%;
}
img{
    color: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    z-index: 1;

}

.slide2{
    position: relative;
    bottom: 550px;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.slide3{
   position: relative;
    bottom: 500px;
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: 600;
    color: white;
}
.slide4{
    position: relative;
    bottom: 450px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    /* font-weight: 600; */
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.aboutandcontact{
    /* background-color: #31d493; */
    width: 400px;
    height: 100px;
    position: relative;
    bottom: 400px;
    left: 480px;
    display: flex;
    justify-content: space-between;

}
.aboutandcontact button.buttn1{
    width: 160px;
    height: 60px;
    background-color: #ffffff ;
    color:#31d493;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 9px;
    cursor: pointer;
    border: none;
  

} 
.aboutandcontact button.buttn1:hover{
    background-color:#31d493 ;
    color:#ffffff;
}
.aboutandcontact button.buttn2{
    width: 160px;
    height: 60px;
    color: #ffffff ;
    background-color:#31d493;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 9px;
    cursor: pointer;
    border: none;
 


}
.aboutandcontact button.buttn2:hover{
    color:#31d493 ;
    background-color:#ffffff;
}
#home span{
    position: relative;
    bottom: 150px;
}
#home ol li{
    position: relative;
    bottom: 310px;
}


/* --------------------who we are part-------------- */


.whoweare{
    
    width: 90%;
    height:600px ;
    padding-top: 40px;
    position: relative;
    left: 70px;
    padding-top: 80px;
   
    
}
.firstpart{
    text-align: center;
  }
.firstpart h3{
    margin-bottom: 10px;
    color: #000;
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
}
.firstpart p{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.firstpart p::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: -40px;

    background-color: #31d493;

}
.firstpart p::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 700px;

    background-color: #31d493;
}
.whoweare p{
   
    padding-top: 40px;
    
  
}

.firsticons{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    width: 90%;
    margin-left: 20px;
   
   
}
#icon1{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    position: relative;
  
    left: 110px; 
    padding: 25px 10px 25px 25px;
    
}

#icon1:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}

.firsticons #inno{
    position: relative;
    top: 30px;
    left: 60px;
}

.firsticons #inno1{
    position: relative;
    right: 30px;
    /* top: 190px; */
    /* left: 30px; */
    font-size: 30;
    color: black;
    text-align: center;
}


#icon2{

    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    position: relative;
  
    left: 110px; 
    padding: 22px 10px 28px 23px;
    
}
 #icon2:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;

}


.firsticons #spread{
     position: relative;
    top: 30px;
    left: 40px;
}
.firsticons #spread1{
    position: relative;
    /* top: 190px; */
    /* left: 30px; */
    font-size: 30;
    color: black;
    text-align: center;
}
#icon3{
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    position: relative;  
    left: 120px; 
    padding: 22px 10px 28px 23px;
    
}
#icon3:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;

}

.firsticons #yourmental{                 
    position: relative;
    top: 30px;
    left: 70px;
}
.firsticons #yourmental1{
    position: relative;
    /* top: 190px; */
    left: 40px;
    font-size: 30;
    color: black;
    text-align: center;
}

/* -------------test-------picture + haga 3l ymen part-------------- */

.usertest{
    display: flex;
    justify-content: space-between;
    height: 300px;
    
}

.texthome{
    background-image: linear-gradient(to left,rgb(234, 241, 240), #fff );
    width: 800px;
    height: 300px;
    padding-top: 70px;
    
}

.texthome h1{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    color:rgb(61, 60, 60);
}
 .texthome h3{
    margin-bottom: 25px;

    display: flex;
    justify-content: center;
    position: relative;
    
    color:rgb(66, 66, 66);
} 
.texthome a{
    display: flex;
    justify-content: center;
    font-size: 35px;
    position: relative;

    color: #31d493;
    font-weight: 600;

}
/* --------------------WHAT WE DO part-------------- */

.whatwedo{
    width: 90%;
    height:650px ;
    position: relative;
    left: 70px;
    padding-top: 100px;
  
}

.secondpart{
    text-align: center;
    height: 20%;
    width: 100%;
    /* padding-top: 50px; */

  }
.secondpart h3{
    margin-bottom: 10px;
    color: #000;
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
}
.secondpart p{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.secondpart p::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: -40px;
    background-color: #31d493;

}
.secondpart p::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 200px;
    background-color: #31d493;
}

#icon4{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
   
    padding: 25px 20px 25px 25px;
    
}

#icon4:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}
.secondicons{
    display: flex;
    justify-content: space-between;
    /* padding-top: 100px; */
   
   
} 
.firstline{
   
    width: 100%;
    height: 300px;
}
.seconddd {
    width: 100%;
    height: 300px;
    position: relative;
    top: 30px;

}

.secondicons .all{
    
   width: 33%;
    font-size: 30;
    color: black;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 30px;
    

}
#icon5{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    padding: 25px 20px 25px 25px;
    
}

#icon5:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}


.secondicons #group1{
    
    font-size: 30;
    color: black;
    text-align: center;
}
#icon6{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
   
    padding: 25px 20px 25px 25px; 
    
}

#icon6:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}

.secondicons #recbook{
    /* position: relative;
    
    bottom: 360px;
    left: 880px; */
}

.secondicons #recbook1{
    /* position: relative;
   
    bottom: 380px;
    left: 430px; */
    font-size: 30;
    color: black;
    text-align: center;
}
#icon7{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    
    padding: 25px 20px 25px 25px;
    
}

#icon7:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}

.secondicons #events{
    
}

.secondicons #events1{
    
   
    font-size: 30;
    color: black;
    text-align: center;
}
#icon8{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    
    padding: 25px 20px 25px 25px;
    
}

#icon8:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}


.secondicons #notes1{
    
   
    font-size: 30;
    color: black;
    text-align: center;
}
#icon9{
    
    border-radius: 90px;
    border-style: solid;
    border-color:#31d493 ;
    font-size: 40px;
    width: 90px;
    height: 90px;
    color:#31d493 ;
    
    padding: 25px 20px 25px 25px;
    
}

#icon9:hover{ 
    background-color:#31d493 ;
    color:rgb(234, 241, 240);
    cursor: pointer;
}

.secondicons #tasks{
    
}

.secondicons #tasks1{
    
    font-size: 30;
    color: black;
    text-align: center;
} 


/* -------------numbers----------- */
.connt {
    display: inline-block;
    width: 100%;
    height: 500px;
    position: relative;
    top: 40px;
}

.connt .all2{
    width: 20%;
    height: 250px;
    font-size: 30;
    color: black;
    text-align: center;
    display: inline-block;
    position: relative;
    bottom: 270px;
    left: 100px; 
    margin-right: 150px;
    
    /* background-color:#333; */
    z-index: 1;

}
.all2 #icon {
 
    /* transform: translate(-50%, -50%);  */
    color: #31d493;
   font-size: 65px;
    z-index: 1;
   
    
}

.image22 {
    display: block;
    width: 100%;
    height: 450px;
    position: relative;
   
    top: 60px;
}
.text {
     
    color:white;
    z-index: 1;
    font-size:30px;
    font-weight: 600;
}  
.numb {
    /* position: relative;
    bottom: 260px;
     left: 225px;  */
    color:white;
    font-size: 70px;
    block-size: 100px;
    font-style: Valuta Solid;
    font-weight: 600;
    z-index: 1;

}
.connt #icon22{
    
     
     color: #31d493;
    font-size: 65px;
     z-index: 1;
 }
 .docnumb{
    
    color:white;
    font-size: 70px;
   font-weight: 600;

    block-size: 100px;
    font-style: Valuta Solid; 
   
    
 }
.connt .text2{
    
   color:white;
   font-size:30px;
   font-weight: 600;
     z-index: 1;
     }

 .all2 #icon33{
    
     color: #31d493;
    font-size: 75px;
     z-index: 1;

 }
 .sponnumb{
    
    color:white;
   font-size: 70px;
    z-index: 1;
   font-weight: 600;



 }
 .all2 .text3{
    color:white;
   font-size: 30px;
   font-weight: 600;

    z-index: 1;
 }
 /* ------------------------------doctors-------------------------- */
 #doctors{
    /* background-color: red; */
    display: flex;
    justify-content: center;
 }
 .ourdoctors{
    width: 80%;
    height:800px ;
    padding-top: 40px;
    background-color: #ffffff;
    position: relative;
    /* left: 130px; */
    bottom: 100px;
   
    /* top: 80px; */
   
    
}
.ourdoctors .headerr{
    /* padding-left:450px; */
    text-align: center;
}
.ourdoctors .headerr h3{
    margin-bottom: 10px;
    color: #000;
    font-size: 34px;
    line-height: 34px;
    font-weight: 700;
}
.crew p{
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.crew p::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: -40px;

    background-color: #31d493;

}
.crew p::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: 180px;

    background-color: #31d493;
}
.twodoctors{
   display: flex;
   justify-content: space-between;
   padding-top: 50px;

}
.doctor{
    width: 530px;
    height:180px ;
    border-radius: 200px ;
    position: relative;
    background: #ffffff;
    border: .5px ridge #31d4937c;
    display: flex;
    justify-content: space-between;
}

.wordss h6:hover{
    color: white !important
}

.doctor:hover{
    background-image: linear-gradient(to right,#31d493, rgb(36, 35, 35) );
    color: white;
    cursor: pointer;
}

.ourdoctors img{
    width: 180px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 0px;
}
.wordss{
    width: 350px;
    position: relative;
    left: 20px;
    top:20px; 
}
.wordss p{
    font-size: 16px;
}

h6 {
    color: #31d493;
}
.icons{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.icons a{
    font-size: 18px;
   
}


/* ------------------------box -------------------*/
.all3{
    
    height: 650px;
    width: 100%;
    position: relative;
    bottom: 180px;
    /* top: 150px; */
}
.offers{
position: relative;
/* bottom: 570px; */
    left: 560px;
    color: #333;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    
   
}
.offers p::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 6px;
    left: -50px;
    background-color: #31d493;

}
.offers p::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 6px;
    left: 260px;

    background-color: #31d493;
}

.price{
    position: relative;
    /* bottom: 600px; */
    left: 510px;
    font-size: 55px;

}


.box1 h1{
    color:white;
    font-size: 35px ;
    position: relative;
    left: 50px;

}

 .box:hover h1 {
    color: white; 

}
.box1{

    display: inline-block;
    position: relative;
    /* bottom: 500px; */
    left: 530px;
    top: 40px;
    width: 300px;
    height: 450px;
    border: 1px solid #ccc;
    padding: 20px; 
    transition: transform 0.3s ease;
    background-image: linear-gradient(to right,#31d493, rgb(36, 35, 35) );

}
.box1:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    
} 
.box1:hover h1{
    color:white; 

}

hr{
    width: 90%;   
}
.box1 ul{
    color: white;
    position: relative;
    left: 10px;
    font-style: Math Sans;
    font-size: large;
    cursor: pointer;

} 
.box:hover .ul{
    color: white;
}
.box1:hover .ul{
    color: white;
}

.box1 ul li{
    list-style-type:none
} 
/* --------------------sponsors------------------------------ */

.sponsers{
    width: 100%;
    height: 400px;
    padding-top: 50px;
}
.oursponsers{
    text-align: center;
}
.oursponsers p{
    color: #333;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 15px;
    position: relative;
   
}
.oursponsers p::before{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    left: -30px;

    background-color: #31d493;

}
.oursponsers p::after{
    content: '';
    width: 40px;
    height: 1px;
    position: absolute;
    bottom: 3px;
    /* left: 180px; */

    background-color: #31d493;
}
.sponsers img{
    width: 100px;
    height: 100px;
    margin:0px 0px 0px 60px ;
}
.sponsersimg{
    position: relative;
    top: 50px;
    left: 10%;
    width: 80%;
}
/* --------------------- */

footer{
    width:100%;
    background-color:rgb(234, 241, 240);

   
}
.main-footer {
    width: 1000px;
    padding: 10px 0px 0px 50px;
    /* background-color: white; */
}
.single-widget{
    width: 300px;

    height: 270px;
    
}
#desc{
    position: relative;
    top: 20px;
}
ul {
    text-decoration: none;
    list-style-type: none;
}

.footer-social {
 
}
.footer-social a {
   
    font-size: 18px;

}
footer .logo a{
    
    text-decoration: none;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    /* position: relative; */
    /* left: 60px; */
    /* top: 40px; */
}
footer .log{
    color: #31d493;
}
footer .logg{
    color: #31d493;
}

#first{
    position: relative;
    left: 250px;
}
#second{
    position: relative;
    left: 250px;
}
#two{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.footer-logo p {
    font-size: 18px;
    width: 300px;
    height: 60px;
    color: #666666;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.single-widget h3{
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.4;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    right: 0px;
}
  /* .single-widget p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  } */
  
  .single-widget p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    /* line-height: 1.7; */
    color: #666666;
  }

  .lock{
    font-weight: bold;
    border-bottom: 2px solid #31d493;
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
  
  }
  
  
.single-widget-description {
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1;
    color: #666666;
  }
  
  .footer-section .footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px solid #31d493;
    border: 2px solid #31d493;
    border-radius: 15px;
    text-align: center;
  } 
  
  .footer-section .footer-icon::after{
    content: ' \25CF';
    font-size: 10px;
    text-align: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    color:#31d493;
  }
  li.footer-section{
    margin-bottom: 0px;
  }
  
  li.footer-section a:hover p,
  li.footer-section a:focus p{
    color: #31d493;
    text-decoration: none;
  }
  
  /*
  * ==========================================
  * FOOTER END
  * ==========================================
  */