*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(234, 241, 240);
    overflow-x: hidden;
}
.allcontant{
    overflow:hidden;
}
.bgcolor.scrolled{
    background-color: rgba(0, 0, 0, 0.692);
    transition: 1s;}





    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* margin: auto; */
        padding: 20px 120px;
        z-index: 2000;
          
    }
    nav .logo a{
        
        text-decoration: none;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 600;
    }
    nav .log{
        color: #ffffff;
    }
    nav .logg{
        color: #31d493;
    }
    nav form{
        display: flex;
        height: 40px;
        width: 330px;
    }
    nav form input{
        width: 90%;
        border-radius: 0 20px 20px 0;
        padding: 12px;
        /* font-size: 1.6rem ; */
        /* border: 1px solid #d3d3d3; */
        border: none;
    }
    nav form input:focus{
        outline-color: rgb(168, 173, 173);
    }
    nav form button{
        /* border:none; */
        width: 50px;
        border: 1px  #d3d3d3;
        border-radius: 20px 0px 0px 20px;
        padding-top: 3px;
        background-color: #f8f8f8;
        cursor: pointer;
        color: rgb(134, 148, 145);
        
    }
    nav form button:focus{
        outline-color: rgb(168, 173, 173);
        color: rgb(106, 117, 115);
        
    
    }
    nav ul li{
        display: inline-block;
        padding-top: 15px;
        margin: 0px 10px;
    }
    nav ul li a{
        color: #ffffff;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        /* font-weight:500; */
    }
    #navbar a.active{
        color: #31d493;
        
    }
    nav ul li a:hover{
        text-decoration: none;
        color: #31d493;
    
    }
    nav .logo{
        text-decoration: none;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #backtotop{
        width: 50px;
        height: 50px;
        background-color: rgba(128, 128, 128, 0.445);
        color: #ffffff;
        border-radius: 50px;
        position:fixed;
        bottom: 35px;
        right: 10px;
        cursor: pointer;
       display: none;
       border: none;
       z-index: 1;
    
    
    }
    #backtotop:hover{
        background-color: #31d493;
    }
    #backtotop:focus{
        outline: none;
    }
   


.mainscreen{
    position: relative;
    left: 28%; 
    /* height: 300px; */
    height: 650px;
    width: 650px;
    
}
.rightside{
        background-color: #ffffff;
        height: 98%;
      padding: 50px 2rem 3rem 3rem;
      position: relative;
      top: 100px;
          
    } 
.cards h3{
    position: relative;
    right: 18px;
}
img{
    position: relative;
    left: 380px;
    bottom: 54px;
    padding:0px 5px 0px 0px ;
}
    
    p{
        display:block;
        font-size: 18px;
        font-weight: 400;
        /* margin: .8rem 0; */
    }
    
    .inputbox
    {
        color:#030303;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1.5px solid #ccc;
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        font-family: 'Roboto', sans-serif;
        color: #615a5a;
        font-size: 1.1rem;
        font-weight: 500;
      outline:none;
    }
    
    .expcvv {
        display:flex;
        justify-content: space-between;
        /* padding-top: 0.1rem; */
        position: relative;
        right: 20%;
    }
    
     .expcvv_text{
        padding-right: 1rem; 
        
     }
    .expcvv_text2{
        padding: 0 16px;
    } 
    
.button{
        background: linear-gradient(
    135deg
    , #753370 0%, #298096 100%);
        padding: 15px;
        border: none;
        border-radius: 50px;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        margin: 10px 0px 20px 50px;
        width:80%;
        letter-spacing: .11rem;
        outline:none;
    }
    
    .button:hover
    {
        transform: scale(1.05) translateY(-3px);
        box-shadow: 3px 3px 6px #38373785;
    }
    
    .rightside a{
        color: #298096;
        position: relative;
        left: 35%;
    }
    @media only screen and (max-width: 1000px) {
    
    
        .leftside{
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
          border-top-right-radius:0;
          border-radius:0;
        }
    
         .rightside{
            width:auto;
            border-bottom-left-radius: 1.5rem;
            padding:0.5rem 3rem 3rem 2rem;
          border-radius:0; 
         
        }
    }
    footer{
        width: 1350px;
        margin-top: 150px;
       
    }
    .main-footer {
        width: 100%;
        padding: 10px 0px 0px 20px;
        background-color: white;
      }
      
    ul {
        text-decoration: none;
        list-style-type: none;
    }
    
      
      .footer-social li {
        /* float: left; */
        margin-left: 25px;
      }
    
      
      .single-widget h3{
          font-size: 18px;
          font-family: "Roboto";
          color: rgb(51, 51, 51);
          line-height: 1.4;
          text-align: left;
          font-weight: bold;
          margin-bottom: 10px;
          position: relative;
          right: 0px;
      }
      .footer-logo p {
        margin: 70px 0px 0px 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
      }
      .single-widget p {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        /* line-height: 1.7; */
        color: #666666;
      }
      
      
      
      .lock{
        font-weight: bold;
        border-bottom: 2px solid #31d493;
        width: 40px;
        height: 3px;
        margin-bottom: 10px;
      
      }
      
      
      .single-widget-description {
        font-family: 'Poppins';
        font-size: 14px;
        line-height: 1;
        color: #666666;
      }
      
      .footer-section .footer-icon {
        width: 25px;
        height: 25px;
        border-radius: 10px solid #31d493;
        border: 2px solid #31d493;
        border-radius: 15px;
        text-align: center;
      }
      
      .footer-section .footer-icon::after{
        content: ' \25CF';
        font-size: 10px;
        text-align: center;
        justify-content: center;
        width: 2px;
        height: 2px;
        margin-top: 0px;
        padding-top: 0px;
        color:#31d493;
      }
      li.footer-section{
        margin-bottom: 0px;
      }
      
      li.footer-section a:hover p,
      li.footer-section a:focus p{
        color: #31d493;
        text-decoration: none;
      }
      
      /*
      * ==========================================
      * FOOTER END*/
/* .form-container {  
  display: block;  
  width: 500px;  
  margin: 60px auto;  
  text-align: left;  
}   */
/* label {  
  display: block;  
  position: relative;  
  text-transform: uppercase;  
  color: #aaa;  
}   */
  
