
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(234, 241, 240);
    overflow-x: hidden;
}
.allcontant{
    overflow:hidden;
}

 


/* ----------------------------------------------------- */
.alltop{
    height: 650px ;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 70px;
    top: 100px;
} 
.leftside{
 

    background-color: #ffffff;
    height: 500px;
    width: 330px;
    border-radius: 2%;
    box-shadow: 0 0 40px rgba(98, 105, 102, 0.24);
    padding: 0px 35px;
}
.leftside img{
    width: 170px;
    height: 170px;
    margin-left: 50px;
    margin-top: 20px;
    
}
.editinfo{
    align-items: center;
    position: relative;
    left: 60px;
}

.editinfo span{
    position: relative;
    top: 8px;
    right:8px;
    color: #0000008e;
}
.editinfo span:hover{
   
    color: #000000b6;;

}
.editinfo a{
    text-decoration: none;
    color: #0000008e;

}
.editinfo a:hover{
    color: #000000b6;

}
.leftside h4{
    margin-left: 58px;
    margin-top: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.76);

}



/*  .................modals...................... */

textarea{
    border: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 40px rgba(98, 105, 102, 0.356);
    background-color: white;
    padding: 10px 0px 0px 15px;
    color: rgba(128, 128, 128, 0.692);
    
}
textarea:focus{
    outline: none;
}

.Schedule{
    
    position: relative;
    right: 50px;
    /* bottom: 210px; */
    left: 20px;
    align-items: center;
}

.Schedule button{
    margin-top: 15px;
    width: 180px;
    border: none;
    color: #f8f8f8;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;
    letter-spacing: 1px;
    background-color: #31d493;
    padding: 5px 8px 5px 0px;
    
}
.Schedule button:focus{
    outline:none

}
#booksession{
    margin-top: 20px;
    margin-left: 40%;
    position: relative;
    display: block;
    width: 230px;
    border: none;
    color: #f8f8f8;
    font-weight: 600;
    border-radius: 25px ;
    letter-spacing: 1px;
    background-color: #31d493;
    padding: 5px 0px 5px 45px;
}
#booksession:hover{
    background-color: #31d493a2;
    cursor: pointer;
}
.Schedule :hover{
    
    background-color: #31d493a2;
    cursor: pointer;
}
.Schedule span{
    background-color: #31d493;
    border-radius: 15px 0 0 15px;
    width: 30px;
    color: #f8f8f8;
    position: relative;
    top: 6px;
    left: 10px;
    padding: 5px 0px 5px 5px;
    
}

.messages form input{
    font-size: 18px;
    display: block;
    width: 150px;
    position: relative;
    margin: 4px 0px 0px 830px;
    text-align: center;
    background-color: #f37208c5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
    border: none;
    cursor: pointer;
} 
.messages form input:hover{
    background-color: #f37208a1;


}
     
    

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    justify-content: space-between;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #888;
   
}

  
  /* Modal Content */
  .modal-content {
    background-color:rgb(234, 241, 240);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 450px;
    
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6px;


  }
  .modal-header span{
    position: relative;
    bottom: 8px;

  }

  .modal-header h3{
    color: rgba(0, 0, 0, 0.61);
    padding-bottom: 8px;
    
}
  .modal-body{
    height: 300px;
    overflow: auto;
    overflow-x: hidden;

  }

 .mainpoints{
 padding-top: 30px;
  }
 .many{
        display: block;
        list-style-type: disc;
        margin-top: 1em;
        margin-bottom: 1 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
    }

    /* <!-- -------rating stars------ --> */

    .startext{
        padding-top: 60px;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 700;
    }
    .rate {
        float: right;
        height: 20%;
        padding: 0 40px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-200px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #31d493;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #31d493c1;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #31d493c1;
    }
     
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* ----------------rigtside-------- */



.rightside #books{

	width:800px;
    height: 260px;
	border-radius: 20px;
    position:relative;
    transform: translate(-50%,-50%);
    top: 130px;
    left: 50%; 
  

}

.rightside .arrow{
    width: 30px;
    height: 30px;
    padding: 2px;
    position: absolute;
    top: 150px;
    z-index: 1;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    background-color: #31d493b7;

    transition: opacity 0.5s ease;
}

.rightside #right-arrow{
    right: 5px;
}


.rightside .slider{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden ;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity; 
    
}
.rightside .slider::-webkit-scrollbar{
     display: none;
} 
.rightside .slider a img{
  
    width: 210px;
    height: 260px;
  padding: 10px 10px 0px 10px;
}
#center{
    opacity: 1;
}



#slider .arr{
    position:relative;
    /* left: 100px; */
    display: flex;
    align-items: center;
}







.rightside{
     background-color: #ffffff;
     height: 500px;
     width: 850px;
     position:relative; 
     border-radius: 2%;
     box-shadow: 0 0 40px rgba(98, 105, 102, 0.24);
     padding: 0px 35px;
}
a#medical {
    font-size: 17px;
    color: #0bbb75;
    position: relative;
    bottom: 10px;
}
a#medical span{
    position: relative;
    top: 10px;
    left: 5px;
}
.rightside hr{
    background-color: #0000007b;
}
p{
    font-size: 20px;
    font-weight: 100px;
     color: #000000ac;
     width: 100%;

}


/* ----------down--------- */
.downside{
    height: 650px;
    width: 100%;
    background-color: #ffffff;
    position:relative;
    /* transform: translate(-50%,-50%); */
    
    padding: 0px 35px;
}
#backtotop{
    width: 50px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.445);
    color: #ffffff;
    border-radius: 50px;
    position:fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
   display: none;
   border: none;
   z-index: 1;


}
#backtotop:hover{
    background-color: #31d493;
}
#backtotop:focus{
    outline: none;
}

   



/* --------------------start downside----------------- */

.downside h3{
    margin-left: 35px;
    padding-top: 20px;
    color: #071811a1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.lock1{
    font-weight: bold;
    border-bottom: 2px solid #31d493;
    width: 180px;
    height: 3px;
 
    margin: 20px 0px 10px 35px;
  
  }
 
  .lock1:hover{
    width: 300px;
    transition: 1s ;
}
  
.downside h3:hover{
    letter-spacing: 3px;
    transition: 1.5s;
}

.downside .slider{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden ;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity; 
    margin-left: 120px;
}
.downside .slider::-webkit-scrollbar{
     display: none;
} 
.downside .box{
    scroll-snap-align: center;
    width: 150px;
    min-width: 250px;
    height: 300px;
    margin: 50px;
    position: relative;
    border-radius:  8px;
    box-shadow: 2px 4px 8px rgba(89, 73, 100, 0.74);
    background-color: white;
    transition: opacity 0.3s ease-in;
    opacity: 1; 
}
#center{
    opacity: 1;
}

.dummy{
   width: 150px;
    color: rgb(0, 123, 255);
    scroll-snap-align: center;
    position: relative;
    left: 50%;
    z-index: 1;
    font-size: 20px;

}
.dummy span{
    position: relative;
    top: 5px;
}
#slider .arr{
    position:relative;
    display: flex;
    align-items: center;
}



  /* ------------pop up-----------------*/

  .popup{
    background-color: #ffffff;
    width: 500px;
    height: 350px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none; 
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background-color: #f37208ad;
      border-radius: 100%;
      width: 40px;
      height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 25px;
    left: 30px;
    padding-bottom: 8px;
}
.popup h2{
   margin-top: -20px;
}
.popup p{
    font-size: 20px;
    text-align: justify;
    margin: 30px 0px 0px 0px;
    line-height: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.popup a{
    font-size: 18px;
    display: block;
    width: 150px;
    position: relative;
    margin: 50px auto;
    text-align: center;
    background-color: #f37208c5;
      border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}
.popup a:hover{
    background-color: #f37208ad;

}

.popup2:hover{
    background-color: #31d493a2;

}

  
.popup2{
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;

    width: 165px;
    border: none;
    color: #f8f8f8;
    font-weight: 600;
    border-radius: 0px 15px 15px 0px;
    letter-spacing: 1px;
    background-color: #31d493;
    padding: 5px 8px 5px 41px;
    font-size: 16px;

    
}
.allspan {
    position: relative;
   
    left: 25px;
    top: 7px;


  }
  .popup2:focus{
    outline:none

}
.popup2 a:hover{
    
    background-color: #f37208ad;
    cursor: pointer;
}
#span{
    background-color: #31d493;
    border-radius: 15px 0 0 15px;
    width: 42px;
    color: white;
    position: relative;
    top: 6px;
    left: 4px;
    bottom: 200px;
    padding: 5px 0px 5px 5px;
    /* z-index: 1; */
    
}
  
  /* The actual popup */
  .popup2 .popuptext {
    visibility: hidden;
    width: 300px;
    height: 250px;
    background-color: rgb(234, 241, 240);
    color: #080606;
    font-size: 20px;
    font-weight: 700;
    /* text-align: center; */
    border-radius: 6px;
    padding: 20px 0px 0px 20px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    /* left: 50%; */
    margin-left: -80px;
  }
  .popup2 .popuptext p{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0px 0px 0px;

  }
  
  /* Popup arrow */
  .popup2 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  .popup2 a{
    font-size: 18px;
    display: block;
    width: 250px;
    position: relative;
    margin: 50px 0px 50px 5px;
    text-align: center;
    background-color: #f37208c5;
      border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0px;
}
  
  /* Toggle this class - hide and show the popup */
  .popup2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* -------------------Responsive------------------ */

@media screen and (max-width: 1000px) {
 
    .alltop{
        height: 1300px ;
        width: 80%;
        display: flex;
        align-items: center;
        /* justify-content: 0; */
        flex-direction: column;
        
     

        
    } 
    .leftside{
         width: 350px;
         height: 500px;
         padding: auto;
         
        
    }
  .editinfo{
      align-items: center;
      position: relative;
      left: 60px;
  }
   textarea{
        width: 350px;
        
    }
    .modal-header h3{
        font-size: 25px;
    }
    .startext{
        font-size: 20px;
    }
    .rightside{
        height: 800px;
        width: 98%;
        position: relative;
        top: 40px;
    
   }
   .rightside p{
    font-size: 19px;
   }
   .many_text {
    
    height: 170px;
    width: 150px;
    border: 1px solid #ffffff;
 }
 .many_text img{
     height: 100%;
     width: 100%;
 
 }
 .testimonial_section {
    width: 340px;
    position: relative;
    left: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* padding: auto; */

  
}
.testimonial_section_2 {
    /* width: 85%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.quick_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.prevnext{
    display: flex;
    justify-content: space-between;
    transform: translate(0%,-50%);
    /* position: relative; */
    bottom: 0px;
    right: 0px;
}
.rightside a.carousel-control-prev {
    position: absolute;
    left: -550px;
    right: 120px;
    top: 47%;
    background-color: #31d493;
    color: #ffffff;
    border-radius: 42px;
}

.rightside a.carousel-control-next {
    position: absolute;
    top: 47%;
    left: -50px;
    right: 0px;
}

.rightside .carousel-control-prev,
.rightside .carousel-control-next {
    width: 50px;
    height: 50px;
   
    margin: 0 auto;
    
}
/* testimonial section end */
.downside{
    height: 550px;
    width: 100%;
    /* display: inline-block; */
    background-color: #ffffff;
    
    /* margin-top: 80px; */
    position:relative;
    top: 170px;
  
    padding: 0px 35px;
}


.dummy{
    position: relative;
    right: 35px;
  
}
/* ------footer------------- */
.main-footer {
    width: 100%;
    padding: auto;
    height: 800px;
  
  }
  
  #desc{
    position: relative;
    top: 190px;
    
    width: 90%;
  
    /* background-color: #31d493; */
    height: 200px;
    margin: auto;
    padding: auto;
   
  }
  .footer-logo p {
    width: 100%;
    height: 100%;
    display: block;
    /* height: 60px; */
  
  }
  #first{
    position: relative;
    left: 0px;
   
  }
  #second{
    position: relative;
    left: 0px;
  }
  #two{
    width: 90%;
    /* background-color: red; */
    height: 400px;
    margin:0px auto;
    position: relative;
    bottom: -200px;
  
  
  }
  
  .single-widget{
    width: 100%;
  }
  
  .footer-section .footer-icon {
    width: 25px;
    height: 25px;
    border-radius: 10px solid #31d493;
    border: 2px solid #31d493;
    border-radius: 15px;
    text-align: center;
  } 
  
  .footer-section .footer-icon::after{
    content: ' \25CF';
    font-size: 10px;
    text-align: center;
    justify-content: center;
    width: 2px;
    height: 2px;
    margin-top: 0px;
    padding-top: 0px;
    color:#31d493;
  }
  li.footer-section{
    margin-bottom: 0px;
  }
    
  }